header {
    text-align: center !important;
    color: var(--primary) !important;
    height: 50px !important;
    padding-inline: 10px !important;
    background-color: var(--white-background) !important;
    line-height: 0px !important;
    border-bottom:1px solid rgba(28, 29, 77, 0.2) !important;
  .navbar {
    width: 100%;
    height: 50px;
    .brand-title {
      display: flex;
      height: 50px;
      a {
        background: url(/logo.svg) no-repeat center;
        width: 185px;
        height: 100%;
        display: inline-block;
        background-size: contain;
      }
    }
    .player-list {
      margin-right: auto !important;
     // margin-left: 25px !important;
      font-size: 26px;
      font-style: italic;
      font-weight: 700;
     // padding-left: 35px;
      position: relative;
      color: var(--primary);
      i {
        margin-right: 7px;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: -3px;
      }
      span {
        color: var(--primary);
        opacity: 0.5;
      }
    }
    .ant-dropdown-trigger {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: var(--primary);
        margin-right: 7px;
        margin-left: 25px;
        height: 42px;
        display: flex;
        align-items: center;
        .ant-avatar {
            margin-right: 5px;
        }
        i{
            position: relative;
            top: 2px;
            left: 4px;
        }
    }

    .ant-input-group {
        .ant-input-affix-wrapper, .ant-btn {
            height: 50px;
            border-radius: 0;
            border: 0;
            &:focus, &:focus-within {
                outline: none;
                box-shadow: none;
            }
            input {
                font-family: var(--antd-font-family);
                font-size: 16px;
            }
        }
        .ant-input-group-addon {
            z-index: 9;
            button {
                width: 60px;
                color: var(--text-white) !important; 
                position: relative;
                &::before {
                    content: '';
                    transform: skew(-20deg);
                    background: var(--bg-primary); 
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    opacity: 0.5;
                }
                .ant-btn-icon {
                    position: relative;
                    z-index: 99;
                    color: var(--text-white);
                    span {
                        display: none;
                    }
                    &::before {
                        content: "\e2ad";
                        font-family: "devpatro" !important;
                        font-style: normal !important;
                        font-weight: normal !important;
                        font-variant: normal !important;
                        text-transform: none !important;
                        speak: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 24px;
                    }
                }
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
  }
}

.ant-dropdown-menu {
    li {
        span {
            font-family: var(--antd-font-family);
            font-size: 16px;
        }
    }
}
.glass{
    background: none !important;
    border:none !important;
    &:hover{
        cursor: pointer;
    }
}

.ant-dropdown .ant-dropdown-menu, :where(.css-dev-only-do-not-override-7t2xvq).ant-dropdown-menu-submenu .ant-dropdown-menu{
    padding: 4px;
    list-style-type: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.ant-dropdown-menu-title-content a{
    color:var(--primary) !important;
}