.page-heading {
  font-size: 24px !important;
  font-style: italic;
  margin-bottom: 0 !important;
  color: var(--primary) !important;
}

table {
  border: 1px solid rgba(18, 109, 184, 0.2);
  // border-radius: 0;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-table-wrapper table,
.ant-table-wrapper table {
  border-radius: 0 !important;
}
.with-footer {
  .ant-table-tbody {
    tr.ant-table-row {
      &:last-child {
        td {
          font-weight: 500;
          border-top: 1px #8d8ea6 solid;
          border-bottom: 1px #8d8ea6 solid;
          &:first-child {
            border-left: 1px #8d8ea6 solid;
          }
          &:last-child {
            border-right: 1px #8d8ea6 solid;
          }
        }
      }
    }
  }
}
.ant-table-container {
  border-start-start-radius: 0 !important;
  border-start-end-radius: 0 !important;

  .ant-table-thead {
    th {
      overflow-wrap: normal !important;
      padding: 8px 12px !important;
      background: rgba(18, 109, 184, 0.1) !important;
      border-radius: 0 !important;
      font-size: 14px;
      font-weight: 500 !important;
      color: var(--primary);
    }
  }

  .ant-table-tbody {
    .ant-table-row.ant-table-row-selected > .ant-table-cell {
      background: #fbffee !important;
    }
    tr.ant-table-row {
      td {
        padding: 10px 12px !important;
        font-size: 14px;
        color: var(--primary);
        background: white !important;
      }
    }
  }

  .ant-table-header {
    border-radius: 0 !important;
  }

  // Minimal fix: just change the background color from semi-transparent to solid
  .ant-table-thead th.ant-table-cell-fix-left {
    background: #e6f0ff !important;
    background-color: #e6f0ff !important;
  }

  .ant-table-thead th.ant-table-cell-fix-right {
    background: #e6f0ff !important;
    background-color: #e6f0ff !important;
  }

  .ant-checkbox-inner {
    border: 1px solid rgba(28, 29, 77, 0.3);
  }

  .action-icons {
    a {
      width: 24px;
      height: 24px;
      font-size: 22px;
      margin: 10px 0;
      position: relative;

      span {
        position: absolute;
        top: -8px;
        right: -8px;
        width: 22px;
        height: 22px;
        border-radius: 50px;
        font-size: 14px;
        background: var(--warning);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: var(--primary);
      }
    }
  }

  .profile-list {
    display: flex;
    width: 342px;
    align-items: center;

    .pro-detail {
      font-size: 14px;
      font-weight: 400;
      margin-left: 7px;
      width: calc(100% - 90px);
      p {
        line-height: 18px;
      }

      h6 {
        font-size: 26px;
        font-style: italic;
        font-weight: 600;
        line-height: 20px;
        span {
          font-size: 18px;
        }
      }

      .school {
        background: url(/player-arrow.svg) no-repeat right;
        display: flex;
        justify-content: start;
        height: 28px;
        padding-right: 15px;
        margin: 6px 0;
        width: fit-content;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }

        img {
          margin-right: 7px;
          height: 20px;
          position: relative;
          top: 4px;
          left: 3px;
        }
      }

      .academy {
        background: url(/player-arrow-green.svg) no-repeat;
        display: flex;
        justify-content: start;
        height: 28px;
        padding-left: 35px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }

        img {
          margin-right: 7px;
          height: 20px;
          position: relative;
          top: 4px;
          left: 3px;
        }
      }
    }
  }
}

.new-table {
  .ant-select-selector,
  .ant-input-outlined:hover {
    border: 1px solid rgb(28 29 77 / 22%) !important;
  }
  .ant-select-selection-placeholder {
    color: var(--primary) !important;
  }

  .ant-table-container {
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;

    .ant-table-header,
    .ant-table-body {
      table {
        border: none !important;
      }
    }

    

    .ant-table-cell {
      a {
        margin: 0 10px;
      }
    }
    .ant-table-body {
      tr {
        &:nth-child(odd) {
          td {
            background: #f6f6f8 !important;
          }
        }
      }
    }
    .ant-table-thead {
      border: none !important;

      th {
        overflow-wrap: normal !important;
        padding: 8px 12px !important;
        background: #f6f6f8 !important;
        border-radius: 0 !important;
        font-size: 14px;
        font-weight: 500 !important;
        color: var(--primary);
      }
    }

    .ant-table-tbody {
      .ant-table-row.ant-table-row-selected > .ant-table-cell {
        background: #fbffee !important;
      }
      tr.ant-table-row {
        td {
          padding: 6px 8px !important;
          font-size: 14px;
          color: var(--primary);
          background: white;
        }
      }
    }

    .ant-table-header {
      border-radius: 0 !important;
    }

    // Minimal fix: just change the background color from semi-transparent to solid
    .ant-table-thead th.ant-table-cell-fix-left {
      background: #f6f6f8 !important;
      background-color: #f6f6f8 !important;
    }

    .ant-table-thead th.ant-table-cell-fix-right {
      background: #f6f6f8 !important;
      background-color: #f6f6f8 !important;
    }

    .ant-checkbox-inner {
      border: 1px solid rgba(28, 29, 77, 0.3);
    }

    .action-icons {
      a {
        width: 24px;
        height: 24px;
        font-size: 22px;
        margin: 10px 0;
        position: relative;

        span {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 22px;
          height: 22px;
          border-radius: 50px;
          font-size: 14px;
          background: var(--warning);
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          color: var(--primary);
        }
      }
      .icon-message {
        opacity: 1 !important;
      }
    }

    .profile-list {
      display: flex;
      width: 342px;
      align-items: center;

      .pro-detail {
        font-size: 14px;
        font-weight: 400;
        margin-left: 7px;
        width: calc(100% - 90px);
        p {
          line-height: 18px;
        }

        h6 {
          font-size: 26px;
          font-style: italic;
          font-weight: 600;
          line-height: 20px;
          span {
            font-size: 18px;
          }
        }

        .school {
          background: url(/player-arrow.svg) no-repeat right;
          display: flex;
          justify-content: start;
          height: 28px;
          padding-right: 15px;
          margin: 6px 0;
          width: fit-content;

          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
          }

          img {
            margin-right: 7px;
            height: 20px;
            position: relative;
            top: 4px;
            left: 3px;
          }
        }

        .academy {
          background: url(/player-arrow-green.svg) no-repeat;
          display: flex;
          justify-content: start;
          height: 28px;
          padding-left: 35px;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
          }

          img {
            margin-right: 7px;
            height: 20px;
            position: relative;
            top: 4px;
            left: 3px;
          }
        }
      }
    }
  }
  :where(.css-dev-only-do-not-override-1vjf2v5).ant-select-single {
    height: 40px !important;
  }
}

.selectbox-ui {
  position: relative;
  height: 40px;
  display: flex;

  // i {
  //   position: absolute;
  //   z-index: 9;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto 0;
  //   display: flex;
  //   align-items: center;
  //   left: 10px;
  //   &::before {
  //     font-weight: bolder !important;
  //   }
  // }
  .ant-select-single,
  .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    min-height: 42px !important;
  }

  .ant-select {
    .ant-select-selector {
      background: var(--bg-white);
      min-height: 42px !important;
      border: 0;
      border-radius: 0;
      padding: 0;
      font-size: 16px;
    }
    .ant-select-selection-item {
      font-weight: 600;
      padding: 0 22px 0 30px;
      text-align: left;
    }

    .ant-select-arrow {
      position: absolute;
      right: -10px;
      z-index: 9;
      width: 12px;
      right: 12px;
      top: -1px;
      bottom: 0;
      margin: auto 0;
      display: flex;
      height: 40px;
      color: var(--primary);
      opacity: 1;
      font-size: 15px;

      i {
        left: 0 !important;
        top: 2px;
        &::before {
          font-weight: bolder !important;
        }
      }
    }
  }
}
.ant-select-selector {
  min-height: 42px !important;
}
.ant-select-selection-wrap {
  align-items: center !important;
}
.ant-select-multiple .ant-select-selection-item {
  height: 32px;
  line-height: 22px;
  align-items: center;
  border-radius: 0 !important;
  position: relative;
  top: -4px;
}


.search-input {
  margin-top: 2px;
  .ant-input-affix-wrapper {
    border-color: rgba(28, 29, 77, 0.22) !important;
  }
  .ant-input {
    min-height: 33px !important;
    border-color: rgba(28, 29, 77, 0.22) !important;
  }
  .ant-input-group-addon {
    border: none !important;
    .ant-btn-icon:before {
      content: "îŠ­";
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      font-family: devpatro !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
  }
  .anticon.anticon-search {
    display: none !important;
  }
    .ant-btn {
      border-left: none !important;
      border-color: rgba(28, 29, 77, 0.22) !important;
      .ant-btn-icon-only {
        width: 40px;
    }
    }
  }
}

.gd {
  background: linear-gradient(90deg, #6AFFAB 0%, #C8FF24 97.61%);
  color: #1c1d4d !important;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 3px;
  
  .ant-checkbox-inner {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgba(28, 29, 77, 0.3);
    &:after {
      top: 50%;
      inset-inline-start: 30%;
      width: 8px;
      height: 13px;
    }
  }
}
.custom-checkbox.ant-checkbox-wrapper-checked {
  .ant-checkbox-label {
    span{
      font-weight: 600;
      margin-left: 5px;
      font-style: italic;
    }
  }
}

.ant-select-single {
  height: 42px;
}
.ant-select-selection-item {
  padding: 0 !important;
}

.custom-tabs {
  width: 100%;
  overflow: hidden;
  .tab-item {
    
      height: 74px;
      width: 207px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 5px;

      div {
        z-index: 99;
      }
      
      &:before {
        content: '';
        position: absolute;
        background: #f4f4f6;
        transform: skew(-31deg);
        margin: 0 5px;
        width: 100%;
        height: 100%;
        top: 0;
      }
    
      &:first-child{
        margin-left: 0 !important;
        &:before {
          margin: 0 !important;
        }
        &:after {
          content: '';
          position: absolute;
          margin: 0;
          width: 15%;
          height: 100%;
          top: 0;
          left: 0;
          background: #f4f4f6;
        }
      }
      &:last-child{
        margin-right: 0 !important;
        &:before {
          margin: 0 !important;
        }
        &:after {
          content: '';
          position: absolute;
          margin: 0;
          width: 15%;
          height: 100%;
          top: 0;
          right: 0;
          background: #f4f4f6;
        }
      }
      &.active-tab {
        &:before {
          background: linear-gradient(90deg, #6AFFAB 0%, #C8FF24 104.31%);
        }
        &:last-child{
          &:after {
            background: #bbff37;
          }
        }
        &:first-child{
          &:after {
            background: #78ff98;
          }
        }
      }
    
  }
  .icon-svg-arrow-tab {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -37px;
    top: 7px;
    margin: 0;
    z-index: 99;
  }
}

.icon-svg-left-arrow {
  width: 15px;
  height: 25px;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0px !important;
  background: url(/svgicons/left-arrow.svg) no-repeat center center;
}

.icon-svg-right-arrow {
  width: 15px;
  height: 25px;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0px !important;
  background: url(/svgicons/right-arrow.svg) no-repeat center center;
}